@model HongDucStore.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaGiam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaGiam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiNhanh.TenChiNhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiNhanh.TenChiNhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangXe.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangXe.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNhanVien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
